.task-cards-container {
  width: 100%;
  max-width: 1180px;
  padding: 0 30px;
  margin: 32px auto;
}
.task-cards-container header {
  display: flex;
  align-items: center;
}
.task-cards-container header span {
  font-size: 20px;
  margin-left: 24px;
}
.task-cards-container header span {
  height: 64px;
}
.task-cards-container header a {
  width: 260px;
  margin-left: auto;
  margin-top: 0;
}
.task-cards-container header button {
  height: 60px;
  width: 60px;
  border-radius: 4px;
  border: 1px solid #dcdce6;
  background: transparent;
  margin-left: 16px;
}
.task-cards-container header button:hover {
  border-color: rgb(198, 234, 255);
}
.task-cards-container h1 {
  margin-top: 80px;
  margin-bottom: 24px;
}


.task-cards-container ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  list-style: none;
}
.task-cards-container ul li {
  color: #dee3e2;
  border-style: outset;
  border-width: 2px;
  word-break: break-all;
  border-color: #106e47;
  background: rgb(76, 76, 85);
  border-radius: 8px;
  position: relative;
  padding: 3px;
  height: fit-content;
}
.task-cards-container ul li .edit-button {
  height: 20px;
  width: 20px;
  border: none;
  padding: 0px;
  background: none;
  overflow: hidden;  
}
.task-cards-container ul li .edit-button:hover {
  color: gold;
  opacity: 0.6;
}
.task-cards-container ul li .add-button {
  height: 20px;
  width: 100%;
  color: white;
  border: none;
  background: none;
}
.task-cards-container ul li .add-button:hover {
  opacity: 0.6;
}
.task-cards-container ul li .hideShow-button {
  display: grid;
  text-align: right;
  border-style: outset;
  border-color: #106e47;

  position: absolute;
  background: rgb(76, 76, 85);
  bottom: -6px;
  right: -10px;
  height: 20px;
  width: 20px;
}
.task-cards-container ul li .hideShow-button:hover {
  color: gold;
  opacity: 0.8;
}
.task-cards-container ul li header {
  border-radius: 10px;
  display: flexbox;  
  border-style: outset;
  border-color: #106e47;
  border-top-right-radius: 0px;
  border-width: 2px;
  vertical-align: top;
  
  
}
.task-cards-container ul li .show{
  background-color: hsl(0, 5%, 60%);  ; 
  font-size: 2.5vh;
  max-height: 50px; 
  overflow: hidden;  
}
.task-cards-container ul li .hidden{
    background-color: hsl(120, 35%, 60%);           
    overflow: show;
    font-size: 2.5vh;
}
.task-cards-container ul li header .card-priority {
  border: none;
  color: black;
  font-size: 12px;
  font-weight: 600;
  width: 20%;

  margin: 0px;

  text-align: center;
}
.task-cards-container ul li header .card-priority:hover {
  color: gold;
}
.task-cards-container ul li header .card-title {
  border-radius: 60px;
  padding: 10px;
  margin: 0px;
 
  color: rgb(255, 255, 255);
  
  letter-spacing: 1px;
  font-weight: 800;
  vertical-align: top;
  text-align: center;
}
.task-cards-container ul li p {
  margin: 0px;
  padding: 5px;
  font-size: 14px;
  background-color: rgb(92, 92, 100);
}
.visible {
  height: auto;
  visibility: visible;
}
.not-visible {
  padding: 0px;
  margin: 0px;
  height: 0px;
  visibility: hidden;
}


.task-cards-container ul li footer {
  margin: 0px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 30fr 1fr;
  border-radius: 10px;
  padding: 3px;
}
.task-cards-container ul li footer button {
  border-radius: 5px;
  height: 25px;
  opacity: 0.6;
}
.task-cards-container ul li footer button:hover {
  opacity: 0.8;
}
.task-cards-container ul li footer .card-check {
  border-color: chartreuse;
  background-color: chartreuse;
}
.task-cards-container ul li footer .card-remove {
  border-color: crimson;
  background-color: crimson;
}
